h2 {
  color: #232323;
  font-size: 24px;
}

h3 {
  color: #232323;
  font-size: 20px;
}

#history{
  position: relative;
  max-height: 400px;
  top: -128px;
}

#history > button {
  position: relative;
  top: 30px;
  left: 100px;
}

#history > .items {
  overflow: hidden;
  overflow-y: scroll;
}