.wrapper{
  display: table;
  position: absolute;
  top: 96px;
  left: 96px;
}

.profile {
  background-color: #ffffff;
  border-radius: 10px;
  display: table-cell;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  width: 256px;
  height: 400px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.66);
}

.profile-pic {
  position: relative;
  top: -64px;
  width: 128px;
  height: 128px;
  border-radius: 50%;
}

.name{
  font-size: 1.5em;
  color: #232323;
  margin: 0 auto;
}

.name-bar{
  width: 254px;
  height: 0px;
  border: 1px solid #a5a5a5;
}

.blade{
  background-color: #ffffff;
  border-radius: 10px;
  height: 100%;
  display: table-cell;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  width: 256px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.66);
}