.wrapper{
  display: table;
  position: absolute;
  top: 96px;
  left: 24px;
}

.profile {
  background-color: #ffffff;
  border-radius: 10px;
  display: table-cell;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  width: 256px;
  max-height: 400px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.66);
  overflow: scroll;
}

.profile-pic {
  position: relative;
  top: -64px;
  width: 128px;
  height: 128px;
  border-radius: 50%;
}

.name{
  font-size: 1.5em;
  color: #232323;
  margin: 0 auto;
}

.name-bar{
  width: 254px;
  height: 0px;
  border: 1px solid #a5a5a5;
}

.blade{
  background-color: #ffffff;
  border-radius: 10px;
  display: table-cell;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  width: 256px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.66);
  max-height: 100%;
  overflow: scroll;
}

button {
  background-color: white;
  border: solid;
  border-radius: 10px;
  color: red;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  transition-duration: 0.5s;
}

button:hover {
  background-color: red;
  border: solid white;
  color: white;
}