h2 {
  color: #232323;
  font-size: 24px;
}

h3 {
  color: #232323;
  font-size: 20px;
}

#services{
  position: relative;
  top: -128px;
}

#services > button {
  position: relative;
  top: 30px;
  left: 100px;
}

#services > .content {
  position: relative;
  top: 48px;
}